<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SE Shopping</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">

    @RenderSection("excss", required: false)
</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"></div>
    <div class="main-container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/stack")
    @RenderSection("scripts", required: false)
</body>
</html>
