@model ShoppingModule.SESHOP_Shop_member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SESHOP_Shop_member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.memberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memberTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memberTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memberEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memberEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.memberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
